{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Loja</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Lojinha</h1>
    <table>
        <thread>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Preço</th>
                <th>Quantidade</th>
            </tr>
        </thread>
        <tbody>
            <tr>
                <td>Camiseta</td>
                <td>Bem Bonita</td>
                <td>29</td>
                <td>10</td>
            </tr>
            <tr>
                <td>Notebook</td>
                <td>Muito bom</td>
                <td>3500</td>
                <td>2</td>
            </tr>
        </tbody>
    </table>
</body>
</html>
{{end}}